<menu>
        <windows name="frameWork">
                <background color="white" backgroundColor="black">
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                </background>
        </windows>
                
        <windows name="mainMenu">
                <background color="white" backgroundColor="black">



										       /@
								       __        __   /\/
								      /==\      /  \_/\/   
								    /======\    \/\__ \__
								  /==/\  /\==\    /\_|__ \
							       /==/    ||    \=\ / / / /_/
							     /=/    /\ || /\   \=\/ /     
							  /===/   /   \||/   \   \===\
							/===/   /_________________ \===\
						     /====/   / |                /  \====\
						   /====/   /   |  _________    /  \   \===\    THE LEGEND OF 
						   /==/   /     | /   /  \ / / /  __________\_____      ______       ___
						  |===| /       |/   /____/ / /   \   _____ |\   /      \   _ \      \  \
						   \==\             /\   / / /     | |  /= \| | |        | | \ \     / _ \
						   \===\__    \    /  \ / / /   /  | | /===/  | |        | |  \ \   / / \ \
						     \==\ \    \\ /____/   /_\ //  | |_____/| | |        | |   | | / /___\ \
						     \===\ \   \\\\\\\/   /////// /|  _____ | | |        | |   | | |  ___  |
						       \==\/     \\\\/ / //////   \| |/==/ \| | |        | |   | | | /   \ |
						       \==\     _ \\/ / /////    _ | |==/     | |        | |  / /  | |   | |
							 \==\  / \ / / ///      /|\| |_____/| | |_____/| | |_/ /   | |   | |
							 \==\ /   / / /________/ |/_________|/_________|/_____/   /___\ /___\
							   \==\  /               | /==/
							   \=\  /________________|/=/           A LINK TO THE ROGUE
							     \==\     _____     /==/ 
							    / \===\   \   /   /===/
							   / / /\===\  \_/  /===/
							  / / /   \====\ /====/
							 / / /      \===|===/
							 |/_/         \===/
									=


















                </background>
                
                <text x="20" y="30" color="blue" backgroundColor="red" form="bold, underline">text est un exemple</text>
                <text x="20" y="50" color="yellow" backgroundColor="green">et voici un autre exemple</text>
                
                <button>options</button>
                <button>credits</button>
                <button>help</button>
                <button>game</button>
                <button>return</button>
                
        </windows>
</menu>