<menu>
        <windows name="frame">
                <background color="white" backgroundColor="black">
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░                                                                                                                                                                       ░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                </background>
        </windows>
                
        <windows name="mainMenu">
                <background color="white">



										       /@
								       __        __   /\/
								      /==\      /  \_/\/   
								    /======\    \/\__ \__
								  /==/\  /\==\    /\_|__ \
							       /==/    ||    \=\ / / / /_/
							     /=/    /\ || /\   \=\/ /     
							  /===/   /   \||/   \   \===\
							/===/   /_________________ \===\
						     /====/   / |                /  \====\
						   /====/   /   |  _________    /  \   \===\    THE LEGEND OF 
						   /==/   /     | /   /  \ / / /  __________\_____      ______       ___
						  |===| /       |/   /____/ / /   \   _____ |\   /      \   _ \      \  \
						   \==\             /\   / / /     | |  /= \| | |        | | \ \     / _ \
						   \===\__    \    /  \ / / /   /  | | /===/  | |        | |  \ \   / / \ \
						     \==\ \    \\ /____/   /_\ //  | |_____/| | |        | |   | | / /___\ \
						     \===\ \   \\\\\\\/   /////// /|  _____ | | |        | |   | | |  ___  |
						       \==\/     \\\\/ / //////   \| |/==/ \| | |        | |   | | | /   \ |
						       \==\     _ \\/ / /////    _ | |==/     | |        | |  / /  | |   | |
							 \==\  / \ / / ///      /|\| |_____/| | |_____/| | |_/ /   | |   | |
							 \==\ /   / / /________/ |/_________|/_________|/_____/   /___\ /___\
							   \==\  /               | /==/
							   \=\  /________________|/=/           A LINK TO THE ROGUE
							     \==\     _____     /==/ 
							    / \===\   \   /   /===/
							   / / /\===\  \_/  /===/
							  / / /   \====\ /====/
							 / / /      \===|===/
							 |/_/         \===/
									=


















                </background>
                
                <text x="20" y="30" color="blue" backgroundColor="red" form="bold, underline">text est un exemple</text>
                <text x="20" y="50" color="yellow" backgroundColor="green">et voici un autre exemple</text>
                
                <button>options</button>
                <button>credits</button>
                <button>help</button>
                <button>game</button>
                <button>return</button>
                
        </windows>
        
        <windows name="options">
                <background color="white" >
                        
                        
                        
                                                    ___________
                                                   /   _____   \
                                                  /   /     \   \  ___________    ___________ _____   _______   _____    _____  ______
                                                 / / /       \ \ \ \   _____  \  |  __   __  |\   /  /  ___  \  \    \   \   / /  __  |
                                                / / /         \ \ \ | |     \  \ | /  | |  \ | | |  /  /   \  \  |    \   | | /  /  \ |
                                                | | |         | | | | |      |  ||/   | |   \| | | /  /     \  \ |     \  | ||  |    \|
                                                | | |         | | | | |_____/  /      | |      | | |  |     |  | | |\   \ | | \  \
                                                |   |         |   | |  _______/       | |      | | |  |     |  | | | \   \| |   \  \
                                                | | |         | | | | |               | |      | | |  |     |  | | |  \     |     \  \
                                                | | |         | | | | |               | |      | | \  \     /  / | |   \    ||\    |  |
                                                \ \ \         / / / | |               | |      | |  \  \___/  /  | |    \   || \__/  /
                                                 \ \ \       / / / /___\             /___\    /___\  \_______/  /___\    \__||______/
                                                  \   \_____/   / ___________________________________________________________________
                                                   \___________/  \_________________________________________________________________/


































                </background>
        </windows>
        
        <windows name="credits">
                <background>

        

                                                       _____________
                                                      /             |
                                                     /   _________  |___________ __________ _________   _____  ___________    ______
                                                    / / /         \ |\   _____  \\   _____ |\   ____ \  \   / |  __   __  |  /  __  |
                                                   / / /           \| | |     \  \| |     \| | |    \ \  | |  | /  | |  \ | /  /  \ |
                                                   | | |              | |      | || |        | |     \ \ | |  |/   | |   \||  |    \|
                                                   | | |              | |_____/  /| |_____/| | |      | || |       | |      \  \
                                                   |   |              |     ____/ |  _____ | | |      | || |       | |        \  \
                                                   | | |              | |\  \     | |     \| | |      | || |       | |          \  \
                                                   | | |              | | \  \    | |        | |     / / | |       | |     |\    |  |
                                                   \ \ \           /| | |  \  \_  | |_____/| | |____/ /  | |       | |     | \__/  /
                                                    \ \ \_________/ |/___\  \___\/_________|/________/  /___\     /___\    |______/
                                                     \              | ______________________________________________________________
                                                      \_____________| \____________________________________________________________/

                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                                                      
                </background>
        </windows>
        
        <windows name="help">
                <background>
                        
                       
                        
                                                               _______    _______
                                                               \     /    \     /
                                                                | | |      | | | __________ _____      ___________       ______
                                                                | | |      | | | \   _____ |\   /      \   _____  \     /  __  |
                                                                | | |      | | |  | |     \| | |        | |     \  \   /  /  \ |
                                                                | | |      | | |  | |        | |        | |      |  | |  |    \|
                                                                |   |______|   |  | |_____/| | |        | |_____/  /   \  \
                                                                |    ______    |  |  _____ | | |        |  _______/      \  \
                                                                |   |      |   |  | |     \| | |        | |                \  \
                                                                | | |      | | |  | |        | |        | |           |\    |  |
                                                                | | |      | | |  | |_____/| | |_____/| | |           | \__/  /
                                                                | | |      | | | /_________|/_________|/___\          |______/
                                                                | | |      | | |   ____________________________________________
                                                               /_____\    /_____\  \__________________________________________/
                                                               

































                </background>
        </windows>
</menu>