<menu>
<windows name="frame">
<background color="white" backgroundColor="black">
#░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░                                                                                                                                                                       ░░
#░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
</background>
</windows>
                
<windows name="mainMenu">
<background color="red" backgroundColor="black">
#
#
#
#                                                                                      /@
#                                                                      __        __   /\/
#                                                                     /==\      /  \_/\/   
#                                                                   /======\    \/\__ \__
#                                                                 /==/\  /\==\    /\_|__ \
#                                                              /==/    ||    \=\ / / / /_/
#                                                            /=/    /\ || /\   \=\/ /     
#                                                         /===/   /   \||/   \   \===\
#                                                       /===/   /_________________ \===\
#                                                    /====/   / |                /  \====\
#                                                  /====/   /   |  _________    /  \   \===\    THE LEGEND OF 
#                                                  /==/   /     | /   /  \ / / /  __________\_____      ______       ___
#                                                 |===| /       |/   /____/ / /   \   _____ |\   /      \   _ \      \  \
#                                                  \==\             /\   / / /     | |  /= \| | |        | | \ \     / _ \
#                                                  \===\__    \    /  \ / / /   /  | | /===/  | |        | |  \ \   / / \ \
#                                                    \==\ \    \\ /____/   /_\ //  | |_____/| | |        | |   | | / /___\ \
#                                                    \===\ \   \\\\\\\/   /////// /|  _____ | | |        | |   | | |  ___  |
#                                                      \==\/     \\\\/ / //////   \| |/==/ \| | |        | |   | | | /   \ |
#                                                      \==\     _ \\/ / /////    _ | |==/     | |        | |  / /  | |   | |
#                                                        \==\  / \ / / ///      /|\| |_____/| | |_____/| | |_/ /   | |   | |
#                                                        \==\ /   / / /________/ |/_________|/_________|/_____/   /___\ /___\
#                                                          \==\  /               | /==/
#                                                          \=\  /________________|/=/           A LINK TO THE ROGUE
#                                                            \==\     _____     /==/ 
#                                                           / \===\   \   /   /===/
#                                                          / / /\===\  \_/  /===/
#                                                         / / /   \====\ /====/
#                                                        / / /      \===|===/
#                                                        |/_/         \===/
#                                                                       =
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
</background>

<text x="3" y="49" color="white" backgroundColor="black">Date version : 12/05/2016</text>
<text x="3" y="50" color="red" backgroundColor="black" form="bold">Version: Alpha | Prototype 1</text>
<text x="65" y="47" color="white" backgroundColor="black" form="bold">Press escape to quit</text>

<button>Game</button>
<button>Options</button>
<button>Help</button>
<button>Credits</button>


</windows>
        
<windows name="Options">
<background color="white"  backgroundColor="black">
#
#
#                                             ___________
#                                            /   _____   \
#                                           /   /     \   \  ___________    ___________ _____   _______   _____    _____  ______
#                                          / / /       \ \ \ \   _____  \  |  __   __  |\   /  /  ___  \  \    \   \   / /  __  |
#                                         / / /         \ \ \ | |     \  \ | /  | |  \ | | |  /  /   \  \  |    \   | | /  /  \ |
#                                         | | |         | | | | |      |  ||/   | |   \| | | /  /     \  \ |     \  | ||  |    \|
#                                         | | |         | | | | |_____/  /      | |      | | |  |     |  | | |\   \ | | \  \
#                                         |   |         |   | |  _______/       | |      | | |  |     |  | | | \   \| |   \  \
#                                         | | |         | | | | |               | |      | | |  |     |  | | |  \     |     \  \
#                                         | | |         | | | | |               | |      | | \  \     /  / | |   \    ||\    |  |
#                                         \ \ \         / / / | |               | |      | |  \  \___/  /  | |    \   || \__/  /
#                                          \ \ \       / / / /___\             /___\    /___\  \_______/  /___\    \__||______/
#                                           \   \_____/   / ___________________________________________________________________
#                                            \___________/  \_________________________________________________________________/
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
</background>

<button>Retour</button>
</windows>

<windows name="Credits" backgroundColor="black">
<background color="white" backgroundColor="black">
#
#
#
#                                                   _____________
#                                                  /             |
#                                                 /   _________  |___________ __________ _________   _____  ___________    ______
#                                                / / /         \ |\   _____  \\   _____ |\   ____ \  \   / |  __   __  |  /  __  |
#                                               / / /           \| | |     \  \| |     \| | |    \ \  | |  | /  | |  \ | /  /  \ |
#                                               | | |              | |      | || |        | |     \ \ | |  |/   | |   \||  |    \|
#                                               | | |              | |_____/  /| |_____/| | |      | || |       | |      \  \
#                                               |   |              |     ____/ |  _____ | | |      | || |       | |        \  \
#                                               | | |              | |\  \     | |     \| | |      | || |       | |          \  \
#                                               | | |              | | \  \    | |        | |     / / | |       | |     |\    |  |
#                                               \ \ \           /| | |  \  \_  | |_____/| | |____/ /  | |       | |     | \__/  /
#                                                \ \ \_________/ |/___\  \___\/_________|/________/  /___\     /___\    |______/
#                                                 \              | ______________________________________________________________
#                                                  \_____________| \____________________________________________________________/
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
</background>
<button>Retour</button>
</windows>
        
<windows name="Help" backgroundColor="black">
<background color="white" backgroundColor="black">



                                                               _______    _______
                                                               \     /    \     /
                                                                | | |      | | | __________ _____      ___________       ______
                                                                | | |      | | | \   _____ |\   /      \   _____  \     /  __  |
                                                                | | |      | | |  | |     \| | |        | |     \  \   /  /  \ |
                                                                | | |      | | |  | |        | |        | |      |  | |  |    \|
                                                                |   |______|   |  | |_____/| | |        | |_____/  /   \  \
                                                                |    ______    |  |  _____ | | |        |  _______/      \  \
                                                                |   |      |   |  | |     \| | |        | |                \  \
                                                                | | |      | | |  | |        | |        | |           |\    |  |
                                                                | | |      | | |  | |_____/| | |_____/| | |           | \__/  /
                                                                | | |      | | | /_________|/_________|/___\          |______/
                                                                | | |      | | |   ____________________________________________
                                                               /_____\    /_____\  \__________________________________________/
                                                               

































</background>
<button>Retour</button>
</windows>

<windows name="Game">
<background>
</background>
<button>Retour</button>
</windows>
</menu>