<menu>
<frame name="frame">
███████████████████████████████████████████████████████████████████████████████████████████████████████████████████
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
██                                                                                                               ██
███████████████████████████████████████████████████████████████████████████████████████████████████████████████████
</frame>
                
<windows name="mainMenu">
<background color="yellow" backgroundColor="black">

                                                       /@
                                       __        __   /\/
                                      /==\      /  \_/\/   
                                    /======\    \/\__ \__
                                  /==/\  /\==\    /\_|__ \
                               /==/    ||    \=\ / / / /_/
                             /=/    /\ || /\   \=\/ /     
                          /===/   /   \||/   \   \===\
                       /===/   /_________________ \===\
                    /====/   / |                /  \====\
                  /====/   /   |  _________    /  \   \===\    THE LEGEND OF 
                  /==/   /     | /   /  \ / / /  __________\_____      ______       ___
                 |===| /       |/   /____/ / /   \   _____ |\   /      \   _ \      \  \
                  \==\             /\   / / /     | |  /= \| | |        | | \ \     / _ \
                  \===\__    \    /  \ / / /   /  | | /===/  | |        | |  \ \   / / \ \
                    \==\ \    \\ /____/   /_\ //  | |_____/| | |        | |   | | / /___\ \
                    \===\ \   \\\\\\\/   /////// /|  _____ | | |        | |   | | |  ___  |
                      \==\/     \\\\/ / //////   \| |/==/ \| | |        | |   | | | /   \ |
                      \==\     _ \\/ / /////    _ | |==/     | |        | |  / /  | |   | |
                        \==\  / \ / / ///      /|\| |_____/| | |_____/| | |_/ /   | |   | |
                        \==\ /   / / /________/ |/_________|/_________|/_____/   /___\ /___\
                          \==\  /               | /==/
                          \=\  /________________|/=/           A LINK TO THE ROGUE
                           \==\     _____     /==/ 
                          / \===\   \   /   /===/
                         / / /\===\  \_/  /===/
                        / / /   \====\ /====/
                       / / /      \===|===/
                       |/_/         \===/
                                      =
</background>

<text x="3" y="41" color="red" backgroundColor="black" form="bold">Version: Alpha | Prototype 2</text>
<text x="45" y="41" color="blue" backgroundColor="black">To navigate:  ↑ : Press 'z' | ↓ : Press 's' | confirm : Press 'd'</text>

<button x="70" y="28" cmd="Game.restart(game)/Menu.setCurrentWindow(menu,'game')">START GAME</button>
<button x="70" y="30" cmd="Menu.addTemporyCommande(menu,'setCurrentWindow(menu,'+Menu.getCurrentWindowName2(menu)+')')/Menu.setCurrentWindow(menu,'options')">OPTIONS</button>
<button x="70" y="32" cmd="Menu.addTemporyCommande(menu,'setCurrentWindow(menu,'+Menu.getCurrentWindowName2(menu)+')')/Menu.setCurrentWindow(menu,'help')">HELP</button>
<button x="70" y="34" cmd="Menu.addTemporyCommande(menu,'setCurrentWindow(menu,'+Menu.getCurrentWindowName2(menu)+')')/Menu.setCurrentWindow(menu,'credits')">CREDITS</button>
<button x="70" y="36" cmd="quit()">QUIT GAME</button>



</windows>
        
<windows name="options">
<background color="white" backgroundColor="black">

                  ___________
                 /   _____   \
                /   /     \   \  ___________    ___________ _____   _______   _____    _____  ______
               / / /       \ \ \ \   _____  \  |  __   __  |\   /  /  ___  \  \    \   \   / /  __  |
              / / /         \ \ \ | |     \  \ | /  | |  \ | | |  /  /   \  \  |    \   | | /  /  \ |
              | | |         | | | | |      |  ||/   | |   \| | | /  /     \  \ |     \  | ||  |    \|
              | | |         | | | | |_____/  /      | |      | | |  |     |  | | |\   \ | | \   \
              |   |         |   | |  _______/       | |      | | |  |     |  | | | \   \| |  \    \
              | | |         | | | | |               | |      | | |  |     |  | | |  \     |    \   \
              | | |         | | | | |               | |      | | \  \     /  / | |   \    ||\    |  |
              \ \ \         / / / | |               | |      | |  \  \___/  /  | |    \   || \__/  /
               \ \ \       / / / /___\             /___\    /___\  \_______/  /___\    \__||______/
                \   \_____/   / ___________________________________________________________________
                 \___________/  \_________________________________________________________________/
                 
                 
                                        
                                                
                 
                 
                 
                                                 __________________________________________________________
                                                |  ²|  1|  2|  3|  4|  5|  6|  7|  8|  9|  0| )]|+=}|    ← |  
                                                |___|___|___|___|___|___|___|___|___|___|___|___|___|______|
                                                |Tab  |  A|  Z|  E|  R|  T|  Y|  U|  I|  O|  P|  ^|  $|    |
                                                |_____|___|___|___|___|___|___|___|___|___|___|___|___|_  ||
                                                |VerMaj|  Q|  S|  D|  F|  G|  H|  J|  K|  L|  M|  %|  *| ←-|
                                                |______|___|___|___|___|___|___|___|___|___|___|___|___|___|
                                                |Maj|>  |  W|  X|  C|  V|  B|  N|  ,|  ;|  :|  !|   Maj    |
                                                |___|___|___|___|___|___|___|___|___|___|___|___|__________|
                                                |Ctr|Win|Alt|                            |AltGr|Win|   |Ctr|
                                                |___|___|___|____________________________|_____|___|___|___|
                 
                 
</background>
<text x="30" y="18" color="light gray" backgroundColor="black" form="bold/underline">Control Settings</text>
<text x="30" y="20" color="light red" backgroundColor="black" >To change Key press 'd' and then press the new key</text>

<text x="24" y="23" color="light gray" backgroundColor="black">Move Up</text>
<text x="24" y="26" color="light gray" backgroundColor="black">Move Down</text>
<text x="24" y="29" color="light gray" backgroundColor="black">Move Left</text>
<text x="24" y="32" color="light gray" backgroundColor="black">Move Right</text>
<text x="24" y="35" color="light gray" backgroundColor="black">Action</text>

<button x="20" y="23" cmd="changeKey('Up')">z</button>
<button x="20" y="26" cmd="changeKey('Down')">s</button>
<button x="20" y="29" cmd="changeKey('Left')">q</button>
<button x="20" y="32" cmd="changeKey('Right')">d</button>
<button x="20" y="35" cmd="changeKey('Action')">w</button>

<button x="100" y="40" cmd="Menu.executeTemporyCommandes(menu)">RETURN</button>
</windows>

<windows name="credits">
<background color="white" backgroundColor="black">

                    _____________
                   /             |
                  /   _________  |_________   __________ _________   _____  ___________    ______
                 / / /         \ |\   ___  \  \   _____ |\   ____ \  \   / |  __   __  |  /  __  |
                / / /           \| | |   \  \  | |     \| | |    \ \  | |  | /  | |  \ | /  /  \ |
                | | |              | |    | |  | |        | |     \ \ | |  |/   | |   \||  |    \|
                | | |              | |___/  /  | |_____/| | |      | || |       | |      \   \
                |   |              |     __/   |  _____ | | |      | || |       | |       \    \
                | | |              | |\  \     | |     \| | |      | || |       | |         \   \
                | | |              | | \  \    | |        | |     / / | |       | |     |\    |  |
                \ \ \           /| | |  \  \_  | |_____/| | |____/ /  | |       | |     | \__/  /
                 \ \ \_________/ |/___\  \___\/_________|/________/  /___\     /___\    |______/
                  \              | ______________________________________________________________
                   \_____________| \____________________________________________________________/
</background>
<text x="40" y="26" color="light gray" backgroundColor="black">This game was developped by Dorian LEVEQUE and Evan Roue, two </text>
<button x="100" y="40" cmd="Menu.executeTemporyCommandes(menu)">RETURN</button>
</windows>
        
<windows name="help">
<background color="white" backgroundColor="black">

                               _______    _______
                               \     /    \     /
                                | | |      | | | __________ _____      ___________    
                                | | |      | | | \   _____ |\   /      \   _____  \   
                                | | |      | | |  | |     \| | |        | |     \  \  
                                | | |      | | |  | |        | |        | |      |  | 
                                |   |______|   |  | |_____/| | |        | |_____/  /  
                                |    ______    |  |  _____ | | |        |  _______/   
                                |   |      |   |  | |     \| | |        | |           
                                | | |      | | |  | |        | |        | |           
                                | | |      | | |  | |_____/| | |_____/| | |           
                                | | |      | | | /_________|/_________|/___\          
                                | | |      | | |   ___________________________________
                               /_____\    /_____\  \_________________________________/
</background>
<text x="40" y="26" color="light gray" backgroundColor="black">Comming soon ... (in Prototype 2)</text>
<button x="100" y="40" cmd="Menu.executeTemporyCommandes(menu)">RETURN</button>
</windows>

<windows name="pause">
<background color="white" backgroundColor="black">

                      ______________
                      \      ____   \
                       \    |    \   \   ___     ______ _____    ______  __________ 
                        | | |     |   |  \  \    \    / \   /   /  __  | \   _____ |
                        | | |     | | |  / _ \    |  |   | |   /  /  \ |  | |     \|
                        | | |     |   | / / \ \   |  |   | |  |  |    \|  | | 
                        |   |____/   / / /___\ \  |  |   | |   \   \      | |_____/|
                        |    _______/  |  ___  |  |  |   | |    \    \    |  _____ |
                        | | |          | /   \ |  |  |   | |      \   \   | |     \|
                        | | |          | |   | |  |  |   | |  |\    |  |  | |      
                        | | |          | |   | |  |  \___/ /  | \__/  /   | |_____/|
                        | | |         /___\ /___\  \______/   |______/   /_________|
                       /     \    __________________________________________________
                      /_______\   \________________________________________________/
</background>
<button x="50" y="20" cmd="Menu.setCurrentWindow(menu,'game')">RESUME GAME</button>
<button x="50" y="22" cmd="Menu.addTemporyCommande(menu,'setCurrentWindow(menu,'+Menu.getCurrentWindowName2(menu)+')')/Menu.setCurrentWindow(menu,'options')">OPTIONS</button>
<button x="50" y="24" cmd="Menu.setCurrentWindow(menu,'mainMenu')">RETURN TO TITLE MENU</button>
<button x="50" y="26" cmd="Game.restart(game)/Menu.setCurrentWindow(menu,'game')">RESTART</button>
</windows>

<windows name="game">
<background color="dark gray" backgroundColor="black">
███████████████████████████████████████████████████████████████████████████████████████████████████████████████████
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
██                                                                                ██                             ██
███████████████████████████████████████████████████████████████████████████████████████████████████████████████████
</background>
</windows>
<windows name="win">
<background>
        ______            ____
        \    /            \  /
         \   \            / /  _____    ______   ___________     _______    ___________  _____  ____
         \ \ \            / /  \   /   /  ___ | |  __   __  |   /  ___  \   \   _____  \ \   /  \  /
          \ \ \          / /    | |   /  /   \| | /  | |  \ |  /  /   \  \   | |     \  \ \  \  / /
           \ \ \        / /     | |  /  /       |/   | |   \| /  /     \  \  | |      | |  \  \/ /
           \ \ \        / /     | |  |  |            | |      |  |     |  |  | |_____/  /   \   /
            \   \      / /      | |  |  |            | |      |  |     |  |  |     ____/     | |
             \ \ \    / /       | |  |  |            | |      |  |     |  |  | |\  \         | |
             \ \ \    / /       | |  \  \            | |      \  \     /  /  | | \  \        | |
              \ \ \  / /        | |   \  \___/|      | |       \  \___/  /   | |  \  \_      | |
               \ \ \/ /        /___\   \______|     /___\       \_______/   /___\  \___\    /___\
                \    / 	_________________________________________________________________________
                 \__/   \_______________________________________________________________________/
               */.           
              /  .//          
             *.   .*/         
           *....   .../       
          /......   ..//      
         *,*......   ..*,.    
      #%*/.,*,.....    ../@   
      (#(.***./......   .,#%#  
       %%/  @           #@@   
       @##%*@#@%#*@    @###%  
         %%#@@@#@%%#%*/#@    
          @@%,,, /.# ##@#@     
          %@(.......@@.@@    **
          @//,.../%*@#@***/##*
            #@@@(#@@@###%#%#(*
          @#@@,@%@@    ,,   
           #@@/(@#@@@         
         /*@@###@#*@@@        
      @(##@%%,(@%@#%        
     ((@*@  @#%#%##(        
           @%#*##%*/*#        
            ##@ .%@         
           @#@     ##@        
          %*#      #%#        
          (/#      .%(#       
         #/%        #((.      
         @@@,                                   
</background>        
<button x="50" y="22" cmd="Game.restart(game)">RESTART</button>
<button x="50" y="24" cmd="Menu.setCurrentWindow(menu,'mainMenu')">RETURN TO TITLE MENU</button>
<button x="50" y="26" cmd="Menu.setCurrentWindow(menu,'mainMenu')">QUIT GAME</button>
</windows>
<windows name="lose">
<background>        
      __________                                               _________
     /   _____  |                                             /   ___   \
    /   /     \ |    ___     ____            _____________   /   /   \   \ _____      ______________ _________ 
   / / /       \|    \  \    \   \          /  /\   _____ | / / /     \ \ \\   /      \  /\   _____ |\   ___  \
  / / /              / _ \    |   \        /  |  | |     \|/ / /       \ \ \\  \      / /  | |     \| | |   \  \
  | | |             / / \ \   |    \      /   |  | |       | | |       | | | \  \    / /   | |        | |    | |
  | | |            / /___\ \  |     \    / /| |  | |_____/|| | |       | | | \  \    / /   | |_____/| | |___/  /
  |   |            |  ___  |  | |\   \  / / | |  |  _____ ||   |       |   |  \  \  / /    |  _____ | |     __/
  | | |            | /   \ |  | | \   \/ /  | |  | |     \|| | |       | | |   \  \ / /    | |     \| | |\  \    
  | | |      ______| |   | |  | |  \    /   | |  | |       | | |       | | |   \  \/ /     | |        | | \  \ 
  \ \ \      \    /| |   | |  | |   \  /    | |  | |_____/|\ \ \       / / /    \   /      | |_____/| | |  \  \_ 
   \ \ \      |  |/___\ /___\/___\   \/    /___\/_________| \ \ \     / / /      \_/      /_________|/___\  \___\
    \   \_____/  |                                           \   \___/   /
     \___________/                                            \_________/
    _____________________________________________________________________________________________________________
    \___________________________________________________________________________________________________________/
</background>

<button x="50" y="22" cmd="Game.restart(game)">RETRY</button>
<button x="50" y="24" cmd="Menu.setCurrentWindow(menu,'mainMenu')">RETURN TO TITLE MENU</button>
<button x="50" y="26" cmd="Menu.setCurrentWindow(menu,'mainMenu')">QUIT GAME</button>
</windows>
</menu>
