<menu>
<frame name="frame">
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░                                                                                                               ░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
</frame>
                
<windows name="mainMenu">
<background color="yellow" backgroundColor="black">

                                                     /@
                                     __        __   /\/
                                    /==\      /  \_/\/   
                                  /======\    \/\__ \__
                                /==/\  /\==\    /\_|__ \
                             /==/    ||    \=\ / / / /_/
                           /=/    /\ || /\   \=\/ /     
                        /===/   /   \||/   \   \===\
                     /===/   /_________________ \===\
                  /====/   / |                /  \====\
                /====/   /   |  _________    /  \   \===\    THE LEGEND OF 
                /==/   /     | /   /  \ / / /  __________\_____      ______       ___
               |===| /       |/   /____/ / /   \   _____ |\   /      \   _ \      \  \
                \==\             /\   / / /     | |  /= \| | |        | | \ \     / _ \
                \===\__    \    /  \ / / /   /  | | /===/  | |        | |  \ \   / / \ \
                  \==\ \    \\ /____/   /_\ //  | |_____/| | |        | |   | | / /___\ \
                  \===\ \   \\\\\\\/   /////// /|  _____ | | |        | |   | | |  ___  |
                    \==\/     \\\\/ / //////   \| |/==/ \| | |        | |   | | | /   \ |
                    \==\     _ \\/ / /////    _ | |==/     | |        | |  / /  | |   | |
                      \==\  / \ / / ///      /|\| |_____/| | |_____/| | |_/ /   | |   | |
                      \==\ /   / / /________/ |/_________|/_________|/_____/   /___\ /___\
                        \==\  /               | /==/
                        \=\  /________________|/=/           A LINK TO THE ROGUE
                         \==\     _____     /==/ 
                        / \===\   \   /   /===/
                       / / /\===\  \_/  /===/
                      / / /   \====\ /====/
                     / / /      \===|===/
                     |/_/         \===/
                                    =
</background>

<text x="3" y="41" color="red" backgroundColor="black" form="bold">Version: Alpha | Prototype 1</text>
<text x="70" y="36" color="white" backgroundColor="black" form="bold">Press escape to quit</text>
<text x="45" y="41" color="blue" backgroundColor="black">To navigate:  ↑ : Press 'z' | ↓ : Press 's' | confirm : Press 'd'</text>

<button x="70" y="28" target="game">Start game</button>
<button x="70" y="30" target="options">Options</button>
<button x="70" y="32" target="help">Help</button>
<button x="70" y="34" target="credits">Credits</button>
<buttons x="70" y="36" target="quit">Quit Game</buttons>


</windows>
        
<windows name="options">
<background color="white">

                ___________
               /   _____   \
              /   /     \   \  ___________    ___________ _____   _______   _____    _____  ______
             / / /       \ \ \ \   _____  \  |  __   __  |\   /  /  ___  \  \    \   \   / /  __  |
            / / /         \ \ \ | |     \  \ | /  | |  \ | | |  /  /   \  \  |    \   | | /  /  \ |
            | | |         | | | | |      |  ||/   | |   \| | | /  /     \  \ |     \  | ||  |    \|
            | | |         | | | | |_____/  /      | |      | | |  |     |  | | |\   \ | | \   \
            |   |         |   | |  _______/       | |      | | |  |     |  | | | \   \| |  \    \
            | | |         | | | | |               | |      | | |  |     |  | | |  \     |    \   \
            | | |         | | | | |               | |      | | \  \     /  / | |   \    ||\    |  |
            \ \ \         / / / | |               | |      | |  \  \___/  /  | |    \   || \__/  /
             \ \ \       / / / /___\             /___\    /___\  \_______/  /___\    \__||______/
              \   \_____/   / ___________________________________________________________________
               \___________/  \_________________________________________________________________/
</background>
<text x="40" y="26" color="light gray" backgroundColor="black">Comming soon ... (in Prototype 2)</text>
<button x="100" y="40" target="mainMenu, pause">Return</button>
</windows>

<windows name="credits">
<background color="white">

                    _____________
                   /             |
                  /   _________  |___________ __________ _________   _____  ___________    ______
                 / / /         \ |\   _____  \\   _____ |\   ____ \  \   / |  __   __  |  /  __  |
                / / /           \| | |     \  \| |     \| | |    \ \  | |  | /  | |  \ | /  /  \ |
                | | |              | |      | || |        | |     \ \ | |  |/   | |   \||  |    \|
                | | |              | |_____/  /| |_____/| | |      | || |       | |      \   \
                |   |              |     ____/ |  _____ | | |      | || |       | |       \    \
                | | |              | |\  \     | |     \| | |      | || |       | |         \   \
                | | |              | | \  \    | |        | |     / / | |       | |     |\    |  |
                \ \ \           /| | |  \  \_  | |_____/| | |____/ /  | |       | |     | \__/  /
                 \ \ \_________/ |/___\  \___\/_________|/________/  /___\     /___\    |______/
                  \              | ______________________________________________________________
                   \_____________| \____________________________________________________________/
</background>
<text x="40" y="26" color="light gray" backgroundColor="black">Comming soon ... (in Prototype 2)</text>
<button x="100" y="40" target="mainMenu">Return</button>
</windows>
        
<windows name="help">
<background color="white">

                               _______    _______
                               \     /    \     /
                                | | |      | | | __________ _____      ___________    
                                | | |      | | | \   _____ |\   /      \   _____  \   
                                | | |      | | |  | |     \| | |        | |     \  \  
                                | | |      | | |  | |        | |        | |      |  | 
                                |   |______|   |  | |_____/| | |        | |_____/  /  
                                |    ______    |  |  _____ | | |        |  _______/   
                                |   |      |   |  | |     \| | |        | |           
                                | | |      | | |  | |        | |        | |           
                                | | |      | | |  | |_____/| | |_____/| | |           
                                | | |      | | | /_________|/_________|/___\          
                                | | |      | | |   ___________________________________
                               /_____\    /_____\  \_________________________________/
</background>
<text x="40" y="26" color="light gray" backgroundColor="black">Comming soon ... (in Prototype 2)</text>
<button x="100" y="40" target="mainMenu">Return</button>
</windows>

<windows name="pause">
<background>

                      ______________
                      \      ____   \
                       \    |    \   \   ___     ______ _____    ______  __________ 
                        | | |     |   |  \  \    \    / \   /   /  __  | \   _____ |
                        | | |     | | |  / _ \    |  |   | |   /  /  \ |  | |     \|
                        | | |     |   | / / \ \   |  |   | |  |  |    \|  | | 
                        |   |____/   / / /___\ \  |  |   | |   \   \      | |_____/|
                        |    _______/  |  ___  |  |  |   | |    \    \    |  _____ |
                        | | |          | /   \ |  |  |   | |      \   \   | |     \|
                        | | |          | |   | |  |  |   | |  |\    |  |  | |      
                        | | |          | |   | |  |  \___/ /  | \__/  /   | |_____/|
                        | | |         /___\ /___\  \______/   |______/   /_________|
                       /     \    __________________________________________________
                      /_______\   \________________________________________________/
</background>
<button x="50" y="20" target="game">Resume game</button>
<button x="50" y="22" target="options">Options</button>
<button x="50" y="24" target="mainMenu">Return to title menu</button>
<button x="50" y="26" target=" ">Restart (comming soon in Prototype 2)</button>
</windows>

<windows name="game">
<background color="white">
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
                                                                                ░░
</background>
</windows>
</menu>